* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #2F2235;
}

.name {
  margin-right: 40px;
  font-size: 18px;
}

.logo {
  margin-left: 40px;
  font-size: 25px;
}

.name,
.logo {
  color: #fff;
}

.party {
  color: #34D1D1;
}

.accordion-label {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.accordion {
  margin-right: 50px;
  font-size: 20px;
}

.line {
  border: 1px solid #D1D2D3;
  height: 0;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

.contents-container-1,
.contents-container-2,
.contents-container-3,
.contents-container-4 {
  display: flex;
  align-items: center;
  margin: 30px;
  margin-top: 0px;
  border: 1px solid #D1D2D3;
  border-top: none;
  padding: 20px;
}

.accordion-container {
   display: block;
   position: relative;
   margin: 0 auto;
   width: 85%;
}

.tabs-container {
  display: flex;
  margin: 30px 30px 0 30px;
  align-items: center;
}

.tab {
  list-style: none;
  padding: 20px;
  flex: 1;
  text-align: center;
  flex: 1;
  font-size: 20px;
  background-color: #D1D2D3;
  border-right: 1px solid #fff;
}

.active{
  background-color: white;
  border: 1px solid #D1D2D3;
  border-bottom: none;
}

.visible {
  position: relative;
}

.hidden{
  position: absolute;
  opacity: 0;
  z-index: 0;
  display: none;
}

.placeholder {
  margin-right: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.code {
  width: 300px;
  height: 40px;
  background: #3F3244;
  border: none;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
}




