* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #2F2235;
}

.name {
  font-size: 15px;
  font-weight: bold;
}

.logo {
  margin-bottom: 5px;
  font-size: 25px;
}

.name,
.logo {
  color: #fff;
}

.party {
  color: #34D1D1;
}

.accordion-label,
.flexible-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.accordion,
.flexible {
  font-size: 20px;
}

.line {
  border: 1px solid #666;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 15px;
}

.text-container-1 {
  margin-bottom: 15px;
  padding: 0 20px;
}

p {
  font-size: 20px;
  line-height: 30px;
}

.text-line {
  border: 1px solid #D1D2D3;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contents-container-1,
.contents-container-2,
.contents-container-3,
.contents-container-4 {
  display: flex;
  flex-direction: column;
}

.accordion-container {
   position: relative;
   margin: 0 20px;
   border: 1px solid #D1D2D3;
   border-bottom: none;
}

.tab {
  list-style: none;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  background-color: #D1D2D3;
  border-bottom: 1px solid #fff;
}

.active {
  background-color: white;
  border: 1px solid #D1D2D3;
  border-bottom: none;
}

.visible {
  position: relative;
}

.hidden{
  position: absolute;
  opacity: 0;
  z-index: 0;
  display: none;
}

.placeholder {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.code {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 40px;
  background: #3F3244;
  border: none;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
}

@media (min-width: 560px) {
  .accordion-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 45px 20px;
  }

  .line {
    margin-bottom: 10px;
    width: 65%;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2F2235;
    padding: 15px 30px;
  }

  .header-line {
    display: none;
  }

  .placeholder {
    max-height: 400px;
  }
}

@media (min-width: 690px) {
  .accordion-container {
    display: flex;
     position: relative;
     margin: 0 auto;
     width: 85%;
  }

  .tabs-container {
    position: relative;
    width: 100%;
  }

  .tab {
    border: none;
  }

  .contents-container-1,
  .contents-container-2,
  .contents-container-3,
  .contents-container-4 {
    flex-direction: row;
    position: absolute;
    top: 60px;
    margin-top: 0px;
    border: 1px solid #D1D2D3;
    border-top: none;
    padding: 20px;
  }

  h1 {
    margin: 0;
  }

  .placeholder {
    width: 50%;
  }

  .btn-container {
    margin-top: 470px;
  }
}

@media (min-width: 900px) {
  .accordion-container {
    max-width: 1200px;
  }

  .line {
    width: 80%;
  }
}

/*flexible cards*/

.card-container {
  display: grid;
  width: 90vw;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto 25px;
  justify-content: center;
}

.card {
  border: 1px solid #D1D2D3;
  max-width: 100%;
}

.picture {
  display: block;
  height: 300px;
  width: 100%;
}

.title {
  padding-left: 20px;
  font-size: 16px;
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

@media (min-width: 650px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .seven {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 850px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .one {
    grid-column: 1 / span 2;
  }

  .seven {
    grid-column: 2 / span 2;
  }

  .flexible-label {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }

  .flexible {
    padding-right: 40px;
  }

  .line {
    width: 65%;
  }
}

/*header*/

.header-nav {
  margin: 40px auto;
  max-width: 1000px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid black;
  background-color: #f2f2f2;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #d1d2d3;
  height: 60px;
}

.links {
  padding-left: 20px;
}

.link {
  margin-bottom: 30px;
}

.content-container {
  background-color: #f2f2f2;
  padding-top: 30px;
  display: none;
}

.show {
  display: block;
}

.input-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-btn {
  margin-top: 20px;
}

.search {
  height: 35px;
  font-size: 16px;
  padding-left: 5px;
  width: 90%;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  max-width: 300px;
}

.upper-container {
  display: none;
}

@media (min-width: 660px) {
  .upper-container {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
  }

  .content-container {
    display: none;
  }

  .link {
    margin-bottom: 0;
  }

  .menu {
    display: none;
  }

  .search {
    width: 180px;
  }

  .input-container {
    margin-bottom: 0;
    display: block;
    width: auto;
    margin-top: 20px;
  }
}
